@model IEnumerable<WebApplication1.Models.Blogs>

@{
    ViewBag.Title = "Index";
}
<head>
    <style type="text/css">
        
        p.p1{
            white-space:pre-line;
            }
        div.d2
        {
            margin: 5px;
            position:relative;            
        }
        div.d1{
            background-color: white;margin-top: 100px;
        }
    </style>
    <script type="text/javascript" src="@Url.Content("~/Scripts/")jquery-1.10.2.js"></script>
    
   
</head>

<div class="d1">
    
    @foreach (var item in Model)
    {
        
        <div class="d2">
            
                @Html.DisplayFor(modelItem => item.created_at)
            
            <h3>
                @Html.DisplayFor(modelItem => item.name)
            </h3>
            
            <p class="p1">                
                @Html.DisplayFor(modelItem => item.summary)                
            </p>
            
            <a href="~/Home/Details/@item.id">继续阅读</a>
            </div>
        
    }
<div class="d1"></div>
</div>